################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/.vs
/code/WFazorTest/bin/Debug
/code/WFazor/bin/Debug
/code/packages
/code/WFazor/obj/Debug
/code/WFazorTest/obj/Debug
